{% extends 'base.html' %}

{% block content %}
<div class="hero-section">
  <h1>Find Trusted Tour Agencies Anywhere</h1>
</div>

<!-- Search Bar -->
<div class="container search-bar">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-4">
          <input type="text" id="search_text" name="search_text" class="form-control" placeholder="Search for a destination...">
          <select class="categorySelect form-select" id="service_category" name="service_category">
            <option>Select Category</option>
            {% for category in categories %}
            <option value="{{category}}">{{category}}</option>
            {% endfor %}
          </select>
          <button class="btn btn-primary" type="submit">Search Destination</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    {% for agency in agencies %}
    <div class="col-md-4">
      <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">{{agency.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{agency.service_category}}</h6>
            <p class="card-text">
                <strong>Email:</strong> {{agency.email}} <br>
                <strong>Phone:</strong> {{agency.phone_number}} <br>
                <strong>County/Region:</strong> {{agency.region}}
            </p>
            <a href="{% url 'agency-details' agency.id %}" class="btn btn-info btn-sm">See Details</a>
        </div>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  $(document).ready(function () {
        $(".categorySelect").select2({
          allowClear: true,
        });
      });
</script>
{% endblock content %}